# IDE ignores
/.idea

# Simplr ignores
/composer.lock
/scrutinizer.phar
/app/Resources/node_modules/*
!app/Resources/node_modules/.gitkeep
/web/assets/themes/*
!web/assets/themes/.gitkeep
/web/assets/plugins/*
!web/assets/plugins/.gitkeep
/web/assets/media/cache/*
!web/assets/media/cache/.gitkeep

# Symfony ignores
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
