parameters:
    database_driver:    pdo_mysql
    database_host:      127.0.0.1
    database_port:      ~
    database_name:      simplr
    database_user:      root
    database_password:  ~

    mailer_transport:   smtp
    mailer_host:        127.0.0.1
    mailer_user:        ~
    mailer_password:    ~

    locale:             en
    secret:             ThisTokenIsNotSoSecretChangeIt
    path_to_themes:     %kernel.root_dir%/Resources/Simplr/Themes
    path_to_plugins:    %kernel.root_dir%/Resources/Simplr/Plugins
    table_prefix:       simplr_
    path_to_media:      %kernel.root_dir%/../web/assets/media
    uri_to_media:       /assets/media
