parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     simplr
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    table_prefix: simplr_
    pathto_plugins: '%kernel.root_dir%/Resources/plugins'
    pathto_themes: '%kernel.root_dir%/Resources/themes'
    pathto_uploads: '%kernel.root_dir%/Resources/uploads'
    pathto_translations: '%kernel.root_dir%/Resources/translations'
    pathto_nodejs: node
    pathto_nodejs_modules: %kernel.root_dir%/../bin/node_modules
