body {
  padding-top: 90px;
}
h1,
h2,
h3,
h4,
h5,
* {
  font-family: 'ubunturegular';
}
h1 {
  font-size: 50px;
  margin-bottom: 40px;
}
.navbar {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffafafa', GradientType=0);
}
.navbar .glyphicon {
  top: 2px;
  margin-right: 5px;
}
.box {
  font-size: 18px;
  background-color: transparent;
  padding: 20px;
  /**
  border: 1px solid #AAA;
  .vertical-gradient(#FFF, #FAFAFA);
  */
}
.box img.illustration {
  margin-top: 20px;
}
.box h2 {
  margin-bottom: 40px;
}
.box p {
  color: #999;
}
.help-icon {
  cursor: pointer;
}
.help-block {
  font-size: 14px;
  color: #aaaaaa;
}
.qtip-bootstrap {
  padding: 0px;
}
.help-icon-text {
  display: none;
  padding: 0px;
}
.help-icon-text p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  line-height: 1;
}
